/* div {
    background-color: black; 
    color: white
} */
/* Через точку мы обращаемся к классу */
/* .black_bar {
    background-color: black;
}
.white_text {
    color: white;
} */
/* Через решетку мы обращаемся к id объекта */
/* margin - внешний отступ */
#black-bar {
    background-color: black;
    color: white;
    padding: 20px 0;
    /*
    margin auto автоматически выравнивает элемент
    margin: 0 auto;
    width: 300px; */
    /* width: 300px; */
    /* height: 60px; */
    /* margin: 50px; */
    /* margin-top: 50px; */
    /* margin-left: 100px; */
}
/* Margin вертикальных элементов между собой пересекаются (схлопываются) */
/* Из двух элементов будет выбран максимальный */
/* Применить стили к тегу а только в элементе black-bar */
#black-bar a {
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

/* Единицы измерения: px - пиксели. em - ? ex - размер блока равный высоте буквы x
% проценты от размера окна. in (inch) - абсолютные размеры в дюймах
Можно использовать см, мм, но абсолютные единицы измерения вообще не рекомендуется использовать */

/* Есть параметры max_height, min_height, max_width, min_width */

.fixed_container {
    width: 960px;
    margin: 0 auto;
}